:root {
    --primery-color:#757575;
    --title-color:#212121;
    --accent-color:#2196F3;
    --primery-background-color:#FFFFFF;
    --secondary-background-color:#2F303A;
    --white-color:#FFFFFF;
    --accent-button-color: #188CE8;
    --third-background-color: #F5F4FA;
    --filter-background-color:#F5F4FA;
    --logo-color:#000000;
    --portfolio-background-color:#EEEEEE;
}

body {
    color: var(--primery-color);
    background-color: var(--primery-background-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
li {
    list-style: none;
}
.link{
    text-decoration: none;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-color);
    letter-spacing: 0.03em;
    text-decoration: none;
}
.logo-accept {
    color: var(--accent-color);
}
.site-nav .link{
    color: var(--title-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link.current {
color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}
.contacts .link {
    color: var(--primery-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.hero-section {
    background-color: var(--secondary-background-color);
}
.hero-title {
    color: var(--white-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.primary-button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}
.primary-button:hover,
.primary-button:focus {
    background-color: var(--accent-button-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.features-title {
color: var(--title-color);
font-family: inherit;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.activity-title,
.team-title {
    color: var(--title-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.team {
   background-color: var(--third-background-color) ;
}
.team-card {
    background-color: var(--primery-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-member  {
    color: var(--title-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.footer {
    background-color: var(--secondary-background-color);
}
.logo-footer{
    color: var(--white-color);
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.address {
    color: var(--white-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer-mail {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
    font-family: inherit;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
.footer-tel:hover,
.footer-tel:focus,
.footer-mail,
.footer-mail {
    color: var(--accent-color);
}

.filter-button {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    border-radius: 4px;
    color: var(--title-color);
    background-color: var(--filter-background-color) ;
}
.filter-button:hover,
.filter-button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}
.examples-title {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}
.examples-text {
    color: var(--primery-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.examples-card {
    background-color: var(--portfolio-background-color);
    border: 1px solid #EEEEEE;
}